.favorites-container {
  padding: 16px;
  min-height: 100vh;
  background-color: #0d0d0d;
  color: white;
}

h2 {
  margin-bottom: 16px;
  font-size: 18px;
}

.empty {
  text-align: center;
  margin-top: 80px;
  color: #aaa;
}

.empty a {
  color: #e50914;
  text-decoration: none;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}


@media (min-width: 600px) {
  h2 {
    font-size: 22px;
  }

  .movie-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}


@media (min-width: 900px) {
  .movie-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1200px) {
  .favorites-container {
    max-width: 1400px;
    margin: auto;
  }

  .movie-grid {
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
  }
}
